<div class="container">
    <div class="row">
        <h3>
            @Html.ActionLink("Manage Roles", "Index", "RoleAdmin")
        </h3>
    </div>
    <div>
        <h3>
        @Html.ActionLink("Manage Users", "Index", "UserAdmin")
        </h3>
    </div>
    
</div>
